<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="depends,defects"
         stopOnDefect="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnWarning="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_NAME" value="air_conditioner_db_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value="password"/>
    </php>
</phpunit>